# Java / Maven
target/
*.class
*.log

# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/

# Misc
*.tmp
